body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.head{
    background: linear-gradient(rgb(77, 74, 74),rgb(131, 5, 57));
    margin-top: 30px;
    margin-left: 400px;
    height: 550px;
    margin-right: 400px;
    border-radius: 15px;
}
.btn{
    border-radius: 20px;
    height: 40px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

hr{
    width: 75%;
}
input{
   margin: 5px;
   border-radius: 40px;
   height: 30px;
    
}
#results{
    margin-bottom: 50px;
    margin-left: 200px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
   
}